{% extends 'base.html.twig' %}

{% block title %}Añadir Etiqueta{% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="login-form bg-light mt-4 p-4">
            <form method="post" class="row g-3" action="{{ path('app_etiqueta_add') }}" enctype='multipart/form-data'>
                <h1 class="h3 mb-3 font-weight-normal">Añadir Etiqueta</h1>
                <div class="col-12">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" required>
                </div>
                
                <div class="col-12">
                <br>
                    <button class="btn btn-lg btn-primary float-end" type="submit">
                        Añadir Etiqueta
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}